<footer class="footer_container">
    <section class="footer_content">
        <div class="name">
            <span><%= t('name', { ns: 'footer' }) %></span>
        </div>
        <div class="links">
            <h3><%= t('links_title', { ns: 'footer' }) %></h3>
            <ul>
                <li><a href="/index#home"><%= t('home', { ns: 'footer' }) %></a></li>
                <li><a href="/index#about"><%= t('about', { ns: 'footer' }) %></a></li>
                <li><a href="/index#education"><%= t('education', { ns: 'footer' }) %></a></li>
                <li><a href="/index#skills"><%= t('skills', { ns: 'footer' }) %></a></li>
                <li><a href="/index#contact"><%= t('contact', { ns: 'footer' }) %></a></li>
            </ul>
        </div>
        <div class="contact">
            <h3><%= t('contact_title', { ns: 'footer' }) %></h3>
            <ul>
                <li>
                    <div class="cercle_img">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <a href="#"><%= t('address', { ns: 'footer' }) %></a>
                </li>
                <li>
                    <div class="cercle_img">
                        <i class="fa fa-phone"></i>
                    </div>
                    <a href="#"><%= t('phone', { ns: 'footer' }) %></a>
                </li>
                <li>
                    <div class="cercle_img">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <a href="#"><%= t('email', { ns: 'footer' }) %></a>
                </li>
            </ul>
            <div class="header__btn">
                <a href="/documents/KAYA_RHABBY_Pascia_Hershe_cv_informatique.pdf" download="KAYA_RHABBY_Pascia_Hershe_cv_informatique.pdf">
                    <button class="btn">
                        <%= t('download_resume', { ns: 'footer' }) %>
                        <i class="fa fa-download"></i>
                    </button>
                </a>
            </div>
        </div>

    </section>
    <section>
        <div class="copyright">
            <p><%= t('copyright', { ns: 'footer' }) %></p>
        </div>
    </section>
</footer>
