<article id="home">
    <div class="homeContainer">
        <div class="homeTextContainer">
            <h1><%= t('welcome_message', { ns: 'home' }) %></h1>
            <p>
                <strong>Pascia Hershe</strong>, <%= t('intro_message', { ns: 'home' }) %>
                <br>
                <%= t('study_status', { ns: 'home' }) %>
            </p>
            <p>
                <%= t('explore_message_part1', { ns: 'home' }) %>
                <a href="#skills"><%= t('skills', { ns: 'home' }) %></a>,
                <%= t('explore_message_part2', { ns: 'home' }) %>
                <a href="#projects"><%= t('projects', { ns: 'home' }) %></a>
                <%= t('explore_message_part3', { ns: 'home' }) %>
            </p>
            <div class="header__btn">
                <a href="/documents/KAYA_RHABBY_Pascia_Hershe_cv_informatique.pdf" download="KAYA_RHABBY_Pascia_Hershe_cv_informatique.pdf">
                    <button class="btn">
                        <%= t('download_resume', { ns: 'home' }) %>
                        <i class="fa fa-download"></i>
                    </button>
                </a>
            </div>
        </div>
        <div class="header_image">
            <img src="/images/Rhabi_1-removebg-preview.png" alt="header" />
        </div>
    </div>
</article>
